In [45]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import datetime
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.model_selection import KFold
from sklearn import metrics
import matplotlib.pyplot as plt
from functools import reduce
import math
from collections import Counter
import csv
from datetime import datetime
import re
import copy
import json
from datetime import timedelta
%matplotlib inline

In [46]:
def now():
    return str(datetime.now().time())[:8]
def pr(strToPrint):
    print(now() + ' '+ strToPrint)

from IPython.display import Audio
sound_file = 'beep.wav'
# pd.set_option('display.max_colwidth', -1)

## Importing data

Importing a sample of the dataset:

In [47]:
pickle_filename = os.path.join('data','head_100k_pickle.pkl')
tw = pd.read_pickle(pickle_filename)

Importing the whole dataset

In [48]:
columns_header = ['id', 'userId', 'createdAt', 'text', 'longitude', 'latitude', 'placeId',
                  'inReplyTo', 'source', 'truncated', 'placeLatitude', 'placeLongitude', 'sourceName', 'sourceUrl',
                 'userName', 'screenName', 'followersCount', 'friendsCount', 'statusesCount',
                 'userLocation']

filename = os.path.join('data','twex.tsv') # 'sample.tsv')
pr('Starting to read file... (3 min)')
tw = pd.read_csv(filename, sep='\t', encoding='utf-8', escapechar='\\', names=columns_header,
                      quoting=csv.QUOTE_NONE, na_values='N', header=None)

pr('File is loaded!')
# Audio(url=sound_file, autoplay=True)

11:35:07 Starting to read file... (3 min)

C:\Users\Daniel\Anaconda3\envs\ADA-kernel\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1,2,3,5,6,8,9,10,11,12,13,14,15,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

11:37:34 File is loaded!

In [49]:
tw.head(2)

,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation
0,9514097914,1.7341e+07,2010-02-23 05:55:51,Guuuuten Morgen! :-),7.43926,46.9489,NaN,NaN,197,NaN,NaN,NaN,TwitBird,http://www.nibirutech.com,Tilman Jentzsch,blickwechsel,586,508.0,9016.0,"Bern, Switzerland"
1,9514846412,7.19828e+06,2010-02-23 06:22:40,Still the best coffee in town — at La Stanza h...,8.53781,47.3678,NaN,NaN,550,NaN,NaN,NaN,Gowalla,http://gowalla.com/,Nico Luchsinger,halbluchs,1820,703.0,4687.0,"Zurich, Switzerland"

## Extrating hashtags

In [50]:
def extract_hashtags(text):
    ht_list = re.findall(r"#(\w+)", text)
    non_empty_hts = list(filter((lambda ht: ht != []), ht_list))
    lowerCharList = [ht.lower() for ht in non_empty_hts]
    return lowerCharList

In [51]:
pr('Making hashtags... (2 min)')
tw['hashtag'] = np.nan
tw.hashtag = tw.text.apply(lambda x: extract_hashtags(str(x)))
twh = tw.ix[tw.hashtag.apply(lambda x: len(x) != 0)]
pr('Done.')

11:37:34 Making hashtags... (2 min)
11:39:25 Done.

In [52]:
twh.head(2)

,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,...,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation,hashtag
8,9519737890,1.46579e+07,2010-02-23 09:59:41,"Magic spells run off after midnight, I guess s...",6.13870,46.175,NaN,NaN,1,NaN,...,NaN,Twitter for iPhone,http://twitter.com/#!/download/iphone,Javier Belmonte,vichango,167,277.0,2885.0,"Geneva, Switzerland",[fb]
10,9521789689,9.96202e+06,2010-02-23 11:28:27,"Limitas of public transportation! No taxi, rai...",6.33641,46.4631,NaN,NaN,550,NaN,...,NaN,Gowalla,http://gowalla.com/,Thomas Winter,thwinter,1070,1359.0,3349.0,Hettlingen CH / SanJose Ca,[yam]

## Cleaning data and making date index

In [53]:
tw1 = twh.dropna(axis=0, how='any', subset=['text', 'createdAt'])
print('The data have been reduced from {} tweets to {} tweets.'.format(len(twh), len(tw1)))

The data have been reduced from 3875280 tweets to 3875280 tweets.

In [54]:
pr('Removing bad dates...')
twhCleanDate = tw1[tw1['createdAt'].str.len() == 19]
pr('Finished.')

11:39:28 Removing bad dates...
11:39:31 Finished.

In [55]:
pr('Starting to examine dates...')
import warnings
warnings.filterwarnings('ignore')
datetime_serie = twhCleanDate['createdAt'].convert_objects(convert_dates='coerce')
dateNotConvertible = datetime_serie[pd.isnull(datetime_serie)]
warnings.filterwarnings('default')
pr('There are {} dates that cannot be transformed.'.format(len(dateNotConvertible)))

11:39:31 Starting to examine dates...
11:39:33 There are 0 dates that cannot be transformed.

In [56]:
pr('Starting copy...') # (to avoid transformation problems)
tw5 = twhCleanDate.copy()
pr('Converting to datetime...')
tw5['createdAt'] = pd.to_datetime(twhCleanDate['createdAt'])
pr('Setting up new indices...')
tw5.index = tw5['createdAt']
pr('Deleting old "createdAt" column...')
del tw5['createdAt']
pr('Done!')
tw5.head(2)

11:39:33 Starting copy...
11:39:34 Converting to datetime...
11:39:37 Setting up new indices...
11:39:37 Deleting old "createdAt" column...
11:39:37 Done!

,id,userId,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation,hashtag
createdAt,,,,,,,,,,,,,,,,,,,,
2010-02-23 09:59:41,9519737890,1.46579e+07,"Magic spells run off after midnight, I guess s...",6.13870,46.175,NaN,NaN,1,NaN,NaN,NaN,Twitter for iPhone,http://twitter.com/#!/download/iphone,Javier Belmonte,vichango,167,277.0,2885.0,"Geneva, Switzerland",[fb]
2010-02-23 11:28:27,9521789689,9.96202e+06,"Limitas of public transportation! No taxi, rai...",6.33641,46.4631,NaN,NaN,550,NaN,NaN,NaN,Gowalla,http://gowalla.com/,Thomas Winter,thwinter,1070,1359.0,3349.0,Hettlingen CH / SanJose Ca,[yam]

In [57]:
tw5['hashtag'][:6]

createdAt
2010-02-23 09:59:41               [fb]
2010-02-23 11:28:27              [yam]
2010-02-23 17:47:11          [24, vfb]
2010-02-23 18:19:03    [iphoneography]
2010-02-23 18:31:46     [partnermonth]
2010-02-24 06:09:23      [insider, fb]
Name: hashtag, dtype: object

## Let's put one hashtag per row

We will make a dataframe with one row = one hashtag. This will be done by going through the dataframe, and making in parallel a list of rows (with 1 hashtag per row) that needs to be added to the old dataframe.

In [58]:
addedHashtagsRowsList = []
def multiplyHashtagRows(row, columns):
    '''
    Examine each row. If there are multiple hashtags, it will return the first one.
    (so the first one will replace the list of hashtags in the df). Then for all the next ones,
    it will make a copy of the row in the addedHashtagsRowsList, (in a dictionary format).
    So this dictionary can in the end be transformed in a DF and added to the original DF.
    (The speed is increased a lot by doing it this way!)
    '''
    htList = row.hashtag
    if len(htList) > 1:
        ## Making the dictionary
        addedHashtag = {}
        addedHashtag['createdAt'] = row.name #the df index
        for col in columns:
            addedHashtag[col] = row[col]
        ## Copying the dict for each hashtag
        i = 1
        while i < len(htList) :
            deepCopy = copy.deepcopy(addedHashtag)
            deepCopy['hashtag'] = htList[i]
            addedHashtagsRowsList.append(deepCopy)
            i+=1
    return htList[0] # return the first hashtag

In [59]:
addedHashtagsRowsList = []
tw5_1 = tw5.copy()
pr('Multiplying the hashtag rows... (around 10 min)')
tw5_1['hashtag'] = tw5.apply(multiplyHashtagRows, args=[tw5.columns,], axis=1)
pr('Finished! {} rows will be added to the dataframe!'.format(len(addedHashtagsRowsList)))

11:39:38 Multiplying the hashtag rows... (around 10 min)
11:48:37 Finished! 3350600 rows will be added to the dataframe!

In [60]:
pr('Starting to make the new dataframe with additionnal rows..')
addedHashtagsDf = pd.DataFrame(addedHashtagsRowsList)
addedHashtagsDf.set_index(['createdAt'], inplace=True)
pr('Starting to append the two df... Old df size = {}'.format(len(tw5_1)))
tw6 = tw5_1.append(addedHashtagsDf)
pr('Done! New df size = {}'.format(len(tw6)))

11:48:37 Starting to make the new dataframe with additionnal rows..
11:48:50 Starting to append the two df... Old df size = 3875280
11:48:56 Done! New df size = 7225880

In [61]:
print('Example hahshtag:')
tw6[tw6['hashtag'] == addedHashtagsRowsList[0]['hashtag']].head(3)

Example hahshtag:

,followersCount,friendsCount,hashtag,id,inReplyTo,latitude,longitude,placeId,placeLatitude,placeLongitude,screenName,source,sourceName,sourceUrl,statusesCount,text,truncated,userId,userLocation,userName
createdAt,,,,,,,,,,,,,,,,,,,,
2011-07-24 16:03:13,1121,763.0,vfb,95162125584039936,9.501397e+16,NaN,NaN,e401fb8eb4e7595a,47.5356,9.14004,eLd0raDo,14,Tweetbot for iOS,http://tapbots.com/tweetbot,6735.0,"@mikstweed Wie lange ist es her, dass der #vfb...",NaN,921241,"Kreuzlingen, TG, Switzerland",Markus Tressl
2012-07-29 16:15:54,1008,767.0,vfb,229611214802669570,NaN,47.6683,9.48077,7e00050f2f9230bc,47.6684,9.47092,jens_nagler,1,Twitter for iPhone,http://twitter.com/#!/download/iphone,1697.0,Man sollte ja nicht zu viel reininterpretieren...,NaN,5.71385e+07,Esslingen,Jens Nagler
2012-07-29 16:21:45,1008,767.0,vfb,229612686525231104,2.296124e+17,47.6682,9.48068,7e00050f2f9230bc,47.6684,9.47092,jens_nagler,1,Twitter for iPhone,http://twitter.com/#!/download/iphone,1697.0,"@LLcurly Das Besondere daran ist, dass nur zwe...",NaN,5.71385e+07,Esslingen,Jens Nagler

In [62]:
tw6.hashtag.head()

createdAt
2010-02-23 09:59:41               fb
2010-02-23 11:28:27              yam
2010-02-23 17:47:11               24
2010-02-23 18:19:03    iphoneography
2010-02-23 18:31:46     partnermonth
Name: hashtag, dtype: object

## Grouping per hashtags per day

In [63]:
tw6.dropna(subset=['longitude'], inplace=True)
tw6.dropna(subset=['latitude'], inplace=True)

In [64]:
tw6.latitude = tw6.latitude.apply(float)
tw6.longitude = tw6.longitude.apply(float)

In [65]:
delimiter = '_$$$_'
str_join = lambda x: delimiter.join(x)

Function that applies to a dataframe will group each row by day and aggregate all its content:

In [66]:
def aggDate(df):
    groupedDf = df.groupby(df.index.map(lambda x: x.date)).agg({'text' : str_join,
                                                          'longitude' : np.median,
                                                          'latitude' : np.median,
                                                          'hashtag' : lambda x: x.iloc[0], ## the first occurence
                                                          'numberOfTweets' : 'count'})
    return groupedDf

In [67]:
pr('Making column number of tweets')
tw6['numberOfTweets'] = 1
pr('Starting group by hastag...')
gp = tw6.groupby('hashtag')
pr('Starting to put hashtag in dictionary... (around 50 min)')

count = 0
lengp = len(gp)
printingValue = int(lengp / 10)
dictionary = {}
for hashtag, df in gp:
    dictionary[hashtag] = aggDate(df)
    count += 1
    if count % printingValue == 0:
        pr("{:.0f}%".format(count/lengp*100))
pr('Finished operations! Dictionary with {} different hashtags.'.format(len(dictionary)))

11:49:11 Making column number of tweets
11:49:11 Starting group by hastag...
11:49:11 Starting to put hashtag in dictionary... (around 50 min)
11:54:20 10%
11:58:57 20%
12:03:30 30%
12:08:06 40%
12:12:42 50%
12:17:17 60%
12:21:49 70%
12:26:22 80%
12:30:55 90%
12:35:24 100%
12:35:24 Finished operations! Dictionary with 607601 different hashtags.

In [68]:
# aggDate(gp.get_group('twibisg')).head(3)
# dictionary['twibisg'].head(3)
print('Dictionary with hashtags dataframes:')
dictionary[list(dictionary.keys())[5]].head(4)

Dictionary with hashtags dataframes:

,longitude,numberOfTweets,text,latitude,hashtag
2016-08-02,7.33389,11,Le service du vin chez #ilcortile #mulhouse #c...,47.7475,ilcortile

## Starting event detection

Parameters that define events:

In [107]:
## Parameters of an event:
MIN_TOT_NB_TWEETS = 25 ## The hashtag must have happened at least this number of times to be considered.
MIN_NB_DAYS_WITH_HASHTAGS = 3 ## The hashtags must appear at least this number of different days to be considered.
MIN_NB_TWEETS_DURING_EVENT = 10 ## To be considered an event, the hashtag must happen at least this nb of times during the day.
THRESHOLD_ANOMALY_FACTOR = 3 ## The occurence of a hashtag during a single day must be above the mean by this FACTOR
                             ## multiplied by the std to be considered as an anomaly.
MAX_DURATION_OF_EVENT = timedelta(days=30) ## The maximum number of days we consider an event can happen
MIN_DURATION_BEFORE_NEW_EVENT = timedelta(days=304) ## (= 10 months) The min time that should pass before an event can happen
                                                    ## again and still be considered as event (ie. Christmas is an event
                                                    ## each year)

Helper functions to detect recurrent events that should be removed:

In [108]:
def isSpecificEventListIllegal(detectedEventDateList):
    '''
    Return true if the list of dates contain illegal tupples of events, so if the event is recurrent
    which would mean it is not a real event.
    '''
    def datesAreIllegal(date1, date2, date3):
        '''
        Return true if the 3 dates are not to be considered as regular events.
        '''
        ## Return if the difference is too small to be considered as 2 different events
        def diffIsSmall(timeDiff):  
            return timeDiff < MAX_DURATION_OF_EVENT

        ## Return true if the difference is not big enough to be an annual event.
        def isDiffSuspect(timeDiff):
            return timeDiff < MIN_DURATION_BEFORE_NEW_EVENT   

        diff1 = abs(date1 - date2)
        diff2 = abs(date2 - date3)
        diff3 = abs(date3 - date1)

        ## The difference is too small, it must be the same event
        if diffIsSmall(diff1) or diffIsSmall(diff2) or diffIsSmall(diff3):
            return False

        ## If there are at least 2 out of 3 suspect difference, then the dates are illegal
        if isDiffSuspect(diff1):
            return isDiffSuspect(diff2) or isDiffSuspect(diff3)
        else:
            return isDiffSuspect(diff2) and isDiffSuspect(diff3)
    
    ## MAIN FUNCTION : ##
    # Go through the list of events and try all "triples" to see if there is any illegal triples. This is a quickly done
    # code to do that. Code complexity bellow is in O(k^3), with k being the size of the list. We will apply this function
    # to n list so we will have an overall complexity in O(n*k^3). We can consider however that each list will
    # be small so k can be considered as constant and therefore the overall complexity will be in O(n).
    for i in range(len(detectedEventDateList) - 2):
        for j in range(i, len(detectedEventDateList) - 1):
            for k in range(j, len(detectedEventDateList)):
                if datesAreIllegal(detectedEventDateList[i], detectedEventDateList[j], detectedEventDateList[k]):
                    return True
    return False

In [109]:
pr('Starting to compute {} dict items to detect event. (4 min)'.format(len(dictionary)))
nbOfEventDetected = 0
count = 0
printingValue = int(len(dictionary) / 10)
for [h,df] in dictionary.items():
    count += 1
    if count % printingValue == 0:
        pr("{:.0f}%".format(count/len(dictionary)*100))
    df['event'] = False
    if len(df) > MIN_NB_DAYS_WITH_HASHTAGS:
        if df['numberOfTweets'].sum() > MIN_TOT_NB_TWEETS:
            threshold = df['numberOfTweets'].mean() + THRESHOLD_ANOMALY_FACTOR * df['numberOfTweets'].std()
            df['event'] = df.numberOfTweets.apply(lambda x: x > threshold and x > MIN_NB_TWEETS_DURING_EVENT)
            
            ## Remove recurrent events:
            detectedEventDf = df[df['event']]
            if len(detectedEventDf) > 3 and isSpecificEventListIllegal(detectedEventDf.index):
                df['event'] = False
            nbOfEventDetected += len(df[df['event']])
pr('Finished! Number of events detected = {}'.format(nbOfEventDetected))

13:50:25 Starting to compute 607601 dict items to detect event. (4 min)
13:50:36 10%
13:50:46 20%
13:50:57 30%
13:51:07 40%
13:51:18 50%
13:51:28 60%
13:51:39 70%
13:51:49 80%
13:52:00 90%
13:52:10 100%
13:52:10 Finished! Number of events detected = 3538

## Making single event dataframe

In [110]:
eventRowsList = []
def applyToMakeEventDf(row):
    if row.event:
        rowToAdd = {'date': row.name, 'hashtag': row.hashtag, 'text': row.text,
                    'longitude': row.longitude, 'latitude':row.latitude, 'numberOfTweets': row.numberOfTweets, }
        eventRowsList.append(rowToAdd)

In [111]:
eventRowsList = []
count = 0
printingValue = int(len(dictionary) / 10)

pr('Starting to make event df with {} dataframes. (around 6 min)'.format(len(dictionary)))
for h, df in dictionary.items():
    count += 1
    if count % printingValue == 0:
        pr("{:.0f}%".format(count/len(dictionary)*100))
        
    ########## CHANGE DF TO MERGE CLOSE EVENTS ################
    
    df.apply(applyToMakeEventDf, axis=1)

pr('Making new dataframe.')
new_events = pd.DataFrame(eventRowsList)
new_events.set_index(['date'], inplace=True)
pr('Finished! Dataframe with {} rows'.format(len(new_events)))

13:52:10 Starting to make event df with 607601 dataframes. (around 6 min)
13:52:41 10%
13:53:11 20%
13:53:41 30%
13:54:11 40%
13:54:42 50%
13:55:12 60%
13:55:42 70%
13:56:12 80%
13:56:42 90%
13:57:12 100%
13:57:12 Making new dataframe.
13:57:12 Finished! Dataframe with 3538 rows

In [122]:
print('Events dataframe:')
new_events.head(50)

Events dataframe:

,hashtag,latitude,longitude,numberOfTweets,text
date,,,,,
2016-07-21,スイス情報,46.96320,7.466670,28,#ベルナーオーバーライド #スイスアルプス #ヒマワリ と共に。#アイガー #メンヒ #ユン...
2013-02-10,winterwonderland,47.03460,8.303840,11,#winterwonderland @ Schneestern http://t.co/Ji...
2014-12-28,winterwonderland,47.31875,8.544700,16,Im lovin it!!! #winterwonderland http://t.co/f...
2014-12-29,winterwonderland,46.97250,7.747200,15,Todays #winterwonderland at http://t.co/HiBFem...
2014-03-27,german,47.14870,9.521860,14,"For #german people from #Groznyy, #Russia : Ad..."
2014-04-07,german,47.38430,8.529590,12,For #german people from #Peru : #Adidas Origin...
2013-04-26,potterhead,47.74350,7.331990,14,Hey les #Potterhead. Tweetez tous :\n#Potterhe...
2013-05-01,potterhead,47.74350,7.332010,11,Hey les #Potterhead !\nDemain on fête la Batai...
2014-07-04,saynotoracism,47.20210,6.397690,20,#SayNoToRacism_$$$_#SayNoToRacism j'adhère on ...
2014-02-22,whatsappdown,45.98865,8.770820,30,#whatsappdown #Sanremo2014 bah buon sabato ser...
2013-05-13,qna,46.43360,6.940600,17,Both RT“@Questionnier: Sex or hanging out with...
2014-12-11,tedxnations,46.22660,6.140560,41,"Final preparations, rehearsals, sound checks ...."
2012-05-25,secretstory6,46.20290,6.203860,21,Tous devant TF1!!! Let's go...!! #SecretStory6...
2016-06-26,wipkingen,47.39260,8.521390,13,"The band ""Cheibe Balagan"" at the #openair #wip..."
2012-05-13,ps,46.52430,6.865800,13,"@chezlalah Oui, mais au moins y'a convergence ..."
2012-11-04,walk,47.20990,9.712000,15,#myplace #place #austria #vorarlberg #schnifis...
2013-10-17,ch,47.55640,7.591630,20,Elizabethenkirche #Bâle #Basel #Switzerland #s...
2013-12-14,ch,46.20040,6.146300,13,#Escalade #vielleville #genève #GE #Suisse #sw...
2014-11-07,skymotori,45.87670,9.642520,19,Ieri Fernando ha detto che potrebbe restare in...
2014-11-21,skymotori,45.87670,9.642530,21,@SkySportF1HD #SkyMotori buongiorno!! A casa ...
2012-08-24,armstrong,45.99810,8.791940,13,Non posso e non ci voglio credere...perché??No...
2013-12-14,tal,46.77150,6.641420,11,Normal c'est la meilleure !\n#Tal #NMA _$$$_N'...
2012-07-08,wimbledon,46.41950,7.438525,34,"@mme_oh Niemand will, dass Andy Murray gewinnt..."
2012-12-07,cold,46.52070,7.290880,15,Kyran wins 3.1 and gains some revenge on the I...
2012-12-08,cold,46.14000,8.156055,20,So #cold in #bormio #ice @ Bormio http://t.co/...
2013-01-18,cold,47.41270,8.271230,11,It's gonna be a great day!!! But it is still -...
2013-02-16,cold,46.24105,7.822870,14,So cold here in the mountains #cold #minus #de...
2013-12-28,cold,46.37470,8.424800,24,@SuperKaylie nothing much :( sooo boring out h...
2013-12-31,cold,46.58530,7.961250,23,#cold #jungfraujoch #swiss #switzerland #son p...
2014-12-27,cold,46.29190,8.310650,17,Então mas como é que está o tempo aí em Portug...
2014-12-29,cold,46.48555,7.669455,14,-15 #cold #fitness #MondayMotivation @jordanfi...
2014-12-30,cold,46.15210,8.549090,11,#winter #cold #holidays #snow #snowing #blizz...
2014-12-31,cold,46.28625,7.945245,12,Iced Dolphins #cold #ice #dolphin #games #moun...
2015-01-01,cold,47.16690,8.544600,11,#Doxis #snow #Zurich #flughafen #winter #cold ...
2016-01-17,cold,46.50750,8.266670,11,"#cold @ Zürich, Switzerland https://t.co/gq3eP..."
2014-02-17,allstargame,46.21825,6.147490,24,Hahahahahaha ils delirent trop ces ricains..!!...
2016-03-01,bugatti,46.23410,6.119070,12,Engine from the Bugatti Chiron. As big as a Sm...
2014-01-12,hollandedemission,46.05775,6.497035,12,Valérie s'est installée à l'Elysée et maintena...
2014-11-18,amas,45.96010,8.692790,111,"Ventiquattro, @onedirection #AMAs #AOTY \n1rt..."
2014-11-20,amas,46.20240,6.131470,116,"""@1DUpdateBRA: DÊ RT E FAÇA QUOTE. AJUDE NA VO..."
2013-10-19,road,46.17370,7.070900,49,#road #switzerland #parking #geneva #road #bes...
2013-10-20,road,46.24220,6.202300,49,#road #rainy #rain #day #amazing #view #nature...
2014-04-07,outstanding,46.94950,8.223950,39,Keep Calm cauz Adidas #Outstanding #Love #Jack...
2014-04-17,outstanding,46.81320,8.223950,45,"For All the people from #Philadelphia, #PA : A..."
2013-12-22,weihnachten,46.74960,7.543760,17,Esse Avocado!Hab was gutzumachen...ob's Hilft ...
2013-12-24,weihnachten,47.65340,8.763865,16,Möge das Christkind Haloperidol bringen. #Weih...
2014-12-24,weihnachten,47.51370,8.523560,11,Wir wünschen euch frohe #Weihnachten und einen...
2015-12-24,weihnachten,47.06435,9.123565,12,Hör dir Die Roten Rosen auf @AppleMusic an. #w...
2013-11-25,lbesp3,46.73460,6.249990,195,Ce soir #LBESP3 @alexgu18_$$$_Le roux si il re...
2014-03-05,teamturc,47.73430,7.295800,16,Moi j'aime bien pas vous #TeamTurc #metisse #a...

In [113]:
print('Linked dataframe of all days:')
dictionary[new_events.iloc[0].hashtag].head(10)

Linked dataframe of all days:

,longitude,numberOfTweets,text,latitude,hashtag,event
2013-11-21,8.309655,2,ルツェルンも❄雪が降り始めました。寒いです〜。\n#スイス情報_$$$_スイスのルツェルンも...,47.0569,スイス情報,False
2014-02-01,8.309680,1,スイス・ローザンヌで国際バレエコンクールが有りましたね。\n日本人、二山治雄さん優勝しました...,47.0569,スイス情報,False
2014-02-03,8.309650,4,スイスで買えるHirse(穀物フレーク)\nその名もBinbosan(ビンボさん)\n響きが...,47.0569,スイス情報,False
2014-02-04,8.309650,1,スイス・ルツェルンはどんよ～リした空模様。午後からは雨の予報です。\n( ´Д｀)=3\n#...,47.0569,スイス情報,False
2014-02-05,8.309680,1,ルツェルンの図書館では、赤ちゃん用の本が無料で貰えるんですよ。\nhttp://t.co/5...,47.0569,スイス情報,False
2014-02-07,8.309700,3,六本木ヒルズでスイスを満喫！\n☆祝150周年☆\nhttp://t.co/JrsdL0BJ...,47.0569,スイス情報,False
2014-02-10,8.309720,1,スイス産の離乳食。Bimbosanのお試しサイズ頼んでみました。\nお試し出来るのはありがた...,47.0569,スイス情報,False
2014-02-11,8.309230,1,スイスでストリートミュージック！\n（ルツェルン）\n#スイス情報 http://t.co/...,47.0546,スイス情報,False
2014-02-12,8.314030,1,スイス・ルツェルンのゴミ箱。沢山あるのでゴミを捨てたいときに便利。\n犬の糞も捨てられるよう...,47.0542,スイス情報,False
2014-02-13,8.309680,1,スイス・ルツェルンも今日は晴れ時々雨。気温は10度と変なお天気。\n#スイス情報,47.0569,スイス情報,False

## Exporting data

In [114]:
total_number_of_events = len(new_events)
print('There are {} events.'.format(total_number_of_events))

There are 3538 events.

In [115]:
e_df = new_events.copy()
e_df['date'] = e_df.index
e_df.index = [i for i in range (len(e_df))]
e_df.head(1)

,hashtag,latitude,longitude,numberOfTweets,text,date
0,スイス情報,46.9632,7.46667,28,#ベルナーオーバーライド #スイスアルプス #ヒマワリ と共に。#アイガー #メンヒ #ユン...,2016-07-21

We are going to generate the right datetimes for the jsons:

In [116]:
epoch_dt = datetime(1970, 1, 1)
def to_utc(date):
    d_dt = datetime.combine(date, datetime.min.time())
    return int((d_dt - epoch_dt).total_seconds()*1000)

In [117]:
def convert_to_unix_time(record):
    datetime_index = pd.DatetimeIndex([datetime(record['year'], record['month'], 1)])
    unix_time_index = datetime_index.astype(np.int64) // 10**6
    return unix_time_index[0]

In [118]:
pr('Converting dates...')
e_df['year'] = e_df['date'].apply(lambda x: x.year)
e_df['month'] = e_df['date'].apply(lambda x: x.month)
e_df['utc_date'] = e_df['date'].apply(lambda x: to_utc(x))
e_df['unix_time'] = e_df.apply(convert_to_unix_time, axis=1)
pr('Done.')
e_df.head(1)

13:57:12 Converting dates...
13:57:13 Done.

,hashtag,latitude,longitude,numberOfTweets,text,date,year,month,utc_date,unix_time
0,スイス情報,46.9632,7.46667,28,#ベルナーオーバーライド #スイスアルプス #ヒマワリ と共に。#アイガー #メンヒ #ユン...,2016-07-21,2016,7,1469059200000,1467331200000

Grouping by months and generating the dictionary for the json.

In [119]:
e_gb_month = e_df.groupby(e_df.unix_time)

In [120]:
pr('Making event list...')
months = []
for month, df in e_gb_month:
    days = []
    for i in range (len(df)):
        ht = df.iloc[i]['hashtag']
        lat = df.iloc[i]['latitude']
        lon = df.iloc[i]['longitude']
        t_num = df.iloc[i]['numberOfTweets']
        tweets = df.iloc[i]['text'].split(delimiter)
        date = df.iloc[i]['utc_date']
        
        data_unit = { 'name': ht
                    , 'latitude' : lat
                    , 'longitude' : lon
                    , 'tweets' : tweets
                    , 'number_of_tweets' : str(t_num)
                    , 'date' : int(date)}
        days.append(data_unit)
    
    curr_month = {'date': int(month), 'data' : days}
    months.append(curr_month)

final_events = {'events' : months}
pr('Done.')

13:57:13 Making event list...
13:57:17 Done.

In [121]:
exportFilename = 'export_twitter_events_' + datetime.now().strftime("%Y-%m-%d_%Hh%Mmin%S") + \
'_' + str(total_number_of_events)+ '_events.json'
exportPath =  os.path.join('data', exportFilename)

pr('Exporting to json...')
with open(exportPath, 'w') as f:
     json.dump(final_events, f)
pr('Export done. File "{}" has been created.'.format(exportFilename))

13:57:17 Exporting to json...
13:57:17 Export done. File "export_twitter_events_2017-01-30_13h57min17_3538_events.json" has been created.